nav{
  background-color: dimgrey;
  padding-bottom: 10px;
  padding-top: 10px;
}

nav img{
  width: 70px;
}

nav ul{
  float: right;
  list-style-type: none;
}

ul li{
  display: inline-block;
  padding-top: 1px;
  padding-bottom: 1px;
  border-right: 1px solid #bbb;
}

li a{
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-size: 20px;
  display: block;
  padding: 20px;
}

li a:hover{
 color: #C3002F;
  background-color: white;
}

