.unselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

h1 {
  color: brown;
  background-color: aliceblue;
}

a {
color: chartreuse;
}

#fst {
  font-family: "Bookman Old Style", cursive;
  font-size: larger;
}

.jb {
  -webkit-text-security: none;
  font-style: oblique;
}


